.container {  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 29px 100px auto 250px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "resau resau resau"
    "menu menu menu"
    ". mention ."

    "footer footer footer";
}


.footer { grid-area: footer; }

.mention{ grid-area: mention; }



/* For presentation only, no need to copy the code below */

